:root{
    --main-color: #D4AF37;

    --bg-color: rgb(24, 24, 24);
    --second-bg-color: rgb(48, 48, 48);
    --third-bg-color: #fff;

    --text-color: #fff;
    --second-text-color: rgb(24, 24, 24);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--third-bg-color);
    color: var(--second-text-color);
}

.space{
    padding: 1rem;
}
.span-arrow{
    float: right;
    color: var(--main-color);
}

.logo-header{
    text-align: center;
    width: 100%;
    padding: 4rem 9%;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.logo-header:hover{
    transform: scale(1.1);
}

.logo{
    font-size: 6rem;
    color: var(--second-text-color);
    cursor: pointer;
    font-family: "LaMacchina";
}

.logo span{
    color: var(--main-color);
}

.policy-background{
    /*code*/
}

.policy-container{
    text-align: left;
    width: 80rem;
    margin: auto;
}

.policy-container h1{
    padding-bottom: 10px;
    font-size: 27px;
    cursor: pointer;
}

.policy-container h2{
    font-weight: lighter;
    padding-bottom: 30px;
}

.policy-container p{
    padding-top: 10px;
}

.policy-container-number{
    color: var(--main-color);
}

/* CURTAIN EFFECT */
.toggle-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out; /* Fast closing transition */
}

.toggle-content.active {
    max-height: 1000px; 
    transition: max-height 1.3s ease-in; /* Slow opening transition */
}

.toggle-title {
    cursor: pointer;
}

.toggle-content h3{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 3px;
    color: var(--second-text-color);
}

.rotated {
    transform: rotate(-90deg);
    transition: transform 0.5s ease;
}

.toogle-bottom {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

/* FORMS  */
.pre-form{
    text-align: center;
    width: 82rem;
    margin: auto;
}

.pre-form h2{
    font-weight: lighter;
}

.pp-contact {
    width: 50rem;
    padding: 20px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.pp-contact form{
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.pp-contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pp-contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--second-text-color);
    background: var(--third-bg-color);
    border-radius: 0.8rem;
    border: 0.1px solid var(--second-bg-color);
    margin: 1rem 0;
    resize: none;
}

.form-button {
    background: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    margin-top: 20px;
    padding: 10px;
    width: 40rem;
    height: 5.5rem;
    border-radius: 0.8rem;
    transition: transform 0.3s ease-in-out;
}