@font-face {
    font-family: 'LaMacchina';
    src: url('../../font/LaMacchina.woff2') format('woff2'),
         url('../../font/LaMacchina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.la-macchina-regular {
    font-family: 'LaMacchina', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.la-macchina-bold {
    font-family: 'LaMacchina', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.la-macchina-italic {
    font-family: 'LaMacchina', sans-serif;
    font-weight: normal;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --main-color: #D4AF37;
    --hover-main-color: rgb(214, 175, 47);

    --bg-color: rgb(24, 24, 24);
    --second-bg-color: rgb(48, 48, 48);
    --third-bg-color: #fff;

    --text-color: #fff;
    --second-text-color: rgb(24, 24, 24);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

button {
    background: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    margin-top: 20px;
    padding: 10px;
    width: 25rem;
    height: 5.5rem;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 0.8rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-main-color);
    transform: scale(1.05);
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.6);
    /*backdrop-filter: blur(10px);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: "LaMacchina";
}

.logo:hover{
    transform: scale(1.1);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    position: relative;
}

/*
.navbar a.active {
    font-weight: bold;  
    color: var(--main-color); 
}
*/

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 3px; 
    background-color: var(--main-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}

.navbar a:hover::after,
.navbar a.active::after {
    transform: scaleX(1);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.home {
    width: 100%;
    height: 100vh;
    background: url('../../img/index/main-img.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

.home-content h3{
    margin-top: 2rem;
    font-size: 3.5rem;
}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.logo span{
    color: var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
    color: var(--text-color);
}

.contact {
    background: url('../../img/index/main-img.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex; 
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: var(--bg-color);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-left {
    flex: 1; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 8px 0 0 8px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../img/agency/certificato.png'); 
    background-size: cover; 
    background-position: center; 
}

.contact-right {
    flex: 2; 
    text-align: center;
    color: var(--text-color);
    position: relative; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.contact-right.active {
    opacity: 1;
    transform: translateY(0);
}

.contact-right h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
    color: var(--main-color);
}

.contact-right h2 {
    margin-bottom: 3rem;
    color: var(--main-color);
}

.contact-right form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-right form .input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-right form input[type="text"],
.contact-right form input[type="email"],
.contact-right form textarea {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    resize: none;
}

.contact-right form .btn {
    margin-top: 2rem;
    background-color: var(--main-color);
    color: white;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.contact-right form .btn:hover {
    background-color: var(--hover-main-color);
    transform: scale(1.05); 
}

.contact-right form input:focus,
.contact-right form textarea:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
}

/*NEWSLETTER*/
.newsletter{
    background-color: var(--second-bg-color);
    color: var(--text-color);
    align-items: center;
    text-align: center;
    padding: 8rem;
}

.newsletter h1{
    color: var(--main-color);
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
}

.newsletter p{
    color: var(--text-color);
    font-size: 15px;
    margin-top: 10px;
    padding: 10px;
}

/*GOOGLE MAPS*/
.maps iframe {
    width: 100%; 
    height: 450px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/*FOOTER 1*/
.footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer ul {
    margin-top: 0;
    padding: 30px;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 0 12px;
}

.footer ul li p{
    font-size: 15px;
    padding: 3px;
}

.footer ul li a {
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    color: var(--main-color);
}

.footer .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

/*FOOTER 2*/
.social ul li a:hover {
    color: var(--text-color);
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social li {
    margin: 15px 0;
}

.social a {
    color: var(--text-color);
    font-size: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s;
}

.icon-circle {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}

.icon-circle:hover {
    background-color: var(--third-bg-color);
    color: var(--second-text-color);
    transition: transform 0.3s ease-in-out
}

.social a h1 {
    color: var(--text-color);
    margin: 0 10px;
    font-size: 20px;
}

.social a i:last-child {
    margin-left:none; 
}

.social a:hover .icon-circle {
    background-color: var(--third-bg-color);
    color: var(--second-text-color);
}

/*FOOTER 3*/
.footer .copyright, p{
    padding: 40px;
    font-size: 12px;
    color: rgb(85, 85, 85);
}

/*FOOTER 4*/
.legal-footer {
    background-color: var(--second-bg-color);
    color: var(--text-color);
    padding: 40px 0;
    text-align: center;
    font-size: 12px;
}

.legal-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.legal-footer ul li {
    display: inline;
    margin: 0 10px;
}

.legal-footer ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.legal-footer ul li a:hover {
    color: var(--main-color);
}

/*FOOTER 5*/
.footer-logo {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0.8rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo img{
    width: 10rem;
}

/*SCROLLBAR 1*/
::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    border-radius: 10px;
}